input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #c45237;
    -webkit-box-shadow: 0 1px 0 0 #4b6f4d;
    box-shadow: 0 1px 0 0 #4b6f4d;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #4b6f4d;
}
button:focus {
    background-color: #c45237!important;
}
button:hover {
    background-color: #d1573c!important;
}
.btn {
    background-color: #d1573c!important;
}
.btn:focus {
    background-color: #db6c53!important;
}
.btn:hover {
    background-color: #bb4d34!important;
}
.input-field>label {
    color: #4b6f4d;
}
.rbagreen {
    background-color: #4b6f4d;
}
.rbagreentxt {
    color: #4b6f4d;
}
.rbared {
    background-color: #c45237;
}
.rbaredtxt {
    color: #c45237;
}
.rbatan {
    background-color: #b3ab75;
}
.rbatantxt {
    color: #b3ab75;
}
.round-7 {
    border-radius:7px!important;
}
nav {
    position: relative;
}
footer {
    position: absolute;
    bottom: 0;
}
.fa-facebook-square {
    font-size:64px;
    color:#3b5998;
    
}